@model IEnumerable<internationalApostille.Models.BlogPost>

@{
    ViewBag.Title = "BlogList";
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
    <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">



            <!-- begin:: Subheader -->
            <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                <div class="kt-container ">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            Blogs
                        </h3>
                        <div class="kt-subheader__breadcrumbs">
                            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            <a href="" class="kt-subheader__breadcrumbs-link">
                                Admin
                            </a>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            <a href="" class="kt-subheader__breadcrumbs-link">
                                Blogs
                            </a>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            <a href="" class="kt-subheader__breadcrumbs-link">
                                Blog list
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end:: Subheader -->
            <!-- begin:: Content -->
            <div class="kt-container  kt-grid__item kt-grid__item--fluid">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon">
                                <i class="kt-font-brand flaticon2-line-chart"></i>
                            </span>
                            <h3 class="kt-portlet__head-title">
                                Blog List
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="dropdown dropdown-inline">
                                    <a href="/admin/CreateBlogPost" class="btn btn-brand btn-icon-sm">
                                        <i class="flaticon2-plus"></i> Add new Post
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="row align-items-center">
                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-input-icon kt-input-icon--left">
                                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                    <span><i class="la la-search"></i></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-form__group kt-form__group--inline">
                                                <div class="kt-form__label">
                                                    <label>Status:</label>
                                                </div>
                                                <div class="kt-form__control">
                                                    <div class="dropdown bootstrap-select form-control">
                                                        <select class="form-control bootstrap-select" id="kt_form_status" tabindex="-98">
                                                            <option value="">All</option>
                                                            <option value="1">Pending</option>
                                                            <option value="2">Delivered</option>
                                                            <option value="3">Canceled</option>
                                                            <option value="4">Success</option>
                                                            <option value="5">Info</option>
                                                            <option value="6">Danger</option>
                                                        </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" data-id="kt_form_status" title="All"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">All</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-form__group kt-form__group--inline">
                                                <div class="kt-form__label">
                                                    <label>Type:</label>
                                                </div>
                                                <div class="kt-form__control">
                                                    <div class="dropdown bootstrap-select form-control">
                                                        <select class="form-control bootstrap-select" id="kt_form_type" tabindex="-98">
                                                            <option value="">All</option>
                                                            <option value="1">Online</option>
                                                            <option value="2">Retail</option>
                                                            <option value="3">Direct</option>
                                                        </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" data-id="kt_form_type" title="All"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">All</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                    <a href="#" class="btn btn-default kt-hidden">
                                        <i class="la la-cart-plus"></i> New Order
                                    </a>
                                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <!--begin: Datatable -->
                        <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="local_data" style="">

                            <table class="kt-datatable__table" style="display: block; min-height: 500px;">
                                <thead class="kt-datatable__head">
                                    <tr class="kt-datatable__row" style="left: 0px;">
                                        <th class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 136px;">@Html.DisplayNameFor(model => model.id)</span></th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 136px;">@Html.DisplayNameFor(model => model.title)</span></th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 136px;">@Html.DisplayNameFor(model => model.Category.name)</span></th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 136px;">@Html.DisplayNameFor(model => model.PublishedDate)</span></th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 136px;">@Html.DisplayNameFor(model => model.Visibility)</span></th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 136px;">Action</span></th>

                                    </tr>

                                </thead>
                                <tbody class="kt-datatable__body">
                                    @foreach (var item in Model)
                                    {
                                        <tr data-row="0" class="kt-datatable__row" style="left: 0px;">
                                            <td class="kt-datatable__cell"><span style="width: 136px;"><a href="#">@Html.DisplayFor(modelItem => item.id)</a></span></td>
                                            <td class="kt-datatable__cell"><span style="width: 136px;"><a href="/blog/@Html.DisplayFor(modelItem => item.url)">@Html.DisplayFor(modelItem => item.title)</a></span></td>
                                            <td class="kt-datatable__cell"><span style="width: 136px;"><a href="#">@Html.DisplayFor(modelItem => item.Category.name)</a></span></td>
                                            <td class="kt-datatable__cell"><span style="width: 136px;"><a href="#">@Html.DisplayFor(modelItem => item.PublishedDate)</a></span></td>
                                            <td class="kt-datatable__cell"><span style="width: 136px;"><a href="#"><span class="kt-font-bold kt-font-danger">@Html.DisplayFor(modelItem => item.Visibility)</span></a></span></td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="overflow: visible; position: relative; width: 110px;">
                                                    <a href="/Admin/EditBlogPost/@Html.DisplayFor(modelItem => item.id)" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edit details"><i class="la la-edit"></i></a>
                                                    <a href="/Admin/DeleteBlogPost/@Html.DisplayFor(modelItem => item.id)" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Delete"><i class="la la-trash"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end:: Content -->
            </div>
        </div>
    </div>
</div>
